@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
    background-color:#e3f9ee;
}
.search-input input {
    background: #ffffffdb;
    /* height: 17px; */
    width: 65%;
    outline: none;
    border: none;
    border-radius: 0px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
    border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    background: #fff;
    color: black;
    z-index: 1000;
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active .autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background: #efefef;
}

.search-input .icon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}

/* .wrapper {
    z-index: 1000;
    position: absolute;
    top: 0%;
    left: 0%;
} */


/* ********************************************** */

.search-input1 input {
    background: #fff;
    /* height: 17px; */
    width: 65%;
    outline: none;
    border: none;
    border-radius: 0px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input1.active input {
    border-radius: 5px 5px 0 0;
}

.search-input1 .autocom-box1 {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-input1.active .autocom-box1 {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box1 li {
    background: #fff;
    color: black;
    z-index: 1000;
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input1.active .autocom-box1 li {
    display: block;
}

.autocom-box1 li:hover {
    background: #efefef;
}
/* 
.search-input1 .icon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
} */

/* .wrapper2 {
    z-index: 1000;
    position: absolute;
    top: 0%;
    left: 17%;
    margin-left: 3px;
} */

.form{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 20%;
}
.searchBox {
    background-color: black;
    color: var(--white);
    /* padding: 50px 0px; */
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 4px rgba(8, 7, 16, 0.6);
    background-color: rgba(251, 251, 251, 0.593);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: -1; */
    /* position: absolute;
    width: 100%; */
}


.finderItem {
    color: var(--white);
    padding: 15px;
}

.finderItem>p {
    margin: 0px;
}

.searchTitle {
    font-size: 19px;
}

.finderItem>input {
    padding: 15px;
    outline: none;
    border: none;
    width: 200px;
}


.form .searchBtn {
    padding: 18px 40px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 1px;
    background-color: black;
    width: 200px;
    /* position: relative;
    top: 10px; */
}
.form .searchBtn {
    padding: 18px 40px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 1px;
    background-color: black;
    width: 200px;
    position: relative;
    top: 12px;
}


/* table */

.table {
position: relative;
    width: 100%;
    top: 40%;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 4px rgba(8, 7, 16, 0.6);
    background-color: rgba(251, 251, 251, 0.593);
    border-collapse: collapse;
    /* margin-top: 10px; */
    /* display: none; */
    /* z-index: 10; */
}

.thead {
    color:black;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(8, 7, 16, 0.6);
    background-color: rgba(251, 251, 251, 0.986);
}

.thead>.tr {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color:black;
    /* text-align: center; */
}

.tbody>.tr {
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 4px rgba(8, 7, 16, 0.6);
    background-color: rgba(251, 251, 251, 0.878);
    color:black;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}

.thead>.tr>p,
.tbody>.tr>p {
    text-align: center;
    width: 250px;
}

.tbody>.tr:hover {
    background-color: #5d9cec;
    color: white;
}

#wrapper {
    box-shadow: none;
    border: none;
    position: absolute;
    background-color:none;
    top: 40%;
    right: 50%;
    display: none;
}
   
.bg_image {
    /* The image used */
    
    /* Full height */
    height: 100vh;

z-index: -10;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
}

element.style {
    margin: auto;
    background:none;
    display: block;
    shape-rendering: auto;
}