@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");
html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

:root {
    --primary: #0063d4;
    --secondry: #008cc3;
    --white: #ffffff;
    --heavywhite: #ebebeb;
    --heavywhite2: rgb(185, 185, 185)b;
    --smoke: #bdbdbd;
    --darkBlack: #000000;
    --lightBlack: #1d1d1d;
    --highlight: #ffb300;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.logo {
    text-decoration: none;
    font-size: 32px;
    color: var(--primary);
}

header .logo:hover {
    color: var(--secondry);
}

header .navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar a {
    margin-left: 2.5rem;
    font-size: 16px;
    color: #0e2431;
    font-weight: 600;
    text-decoration: none;
}

header .navbar a.active,
header .navbar a:hover {
    color: var(--primary);
    border-bottom: 0.2rem solid var(--secondry);
    padding: 0.5rem 0;
}


/* .active {
    color: var(--primary);
    border-bottom: 0.2rem solid var(--secondry);
} */


/* .profile-btn {
    padding: 0;
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-left: 12px;
    border-left: 2px solid #ddd;
    margin-left: 10px;
    margin-right: 0px;
}

.profile-btn img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 4px;
}

.profile-btn span {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 700;
}

.projects-section-header {
    display: flex;
    align-items: flex-end;
    justify-content: end;
} */

.translater:hover {
    border: none;
}


/* footer styling  */

.copyrightBox {
    background-color: var(--lightBlack);
    color: var(--white);
    text-align: center;
    padding: 5px;
}


/* home page styling */

.heroContainer {
    background-color: var(--primary);
    color: var(--white);
    padding: 150px 0px;
    text-align: center;
}

.serviceContainer {
    padding: 100px 20px;
    text-align: center;
}

.serviceBox {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.serviceBoxItem {
    margin: 10px;
    padding: 50px;
    text-align: center;
    background-color: var(--heavywhite);
    border: 1px solid var(--heavywhite2);
    border-radius: 10px;
    color: var(--primary);
    width: 300px;
}

.serviceBoxItem>i {
    font-size: 30px;
}

.serviceBoxItem:hover {
    background-color: var(--primary);
    color: var(--white);
}