{% extends 'index.html'%} {% block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<div class="bg_image" style="background-image: url({{url_for('static',filename = 'images/Train-bro.png')}});">
    </div>

<div class="usercontainer" id="signup">

    <form class="form" action="" method="post" id="signupForm">
        <p class="form-title">Sign in to your account</p>
        <div class="input-container">
            <input type="name" placeholder="Enter name" name="name">
            <span>
            </span>
        </div>
        <div class="input-container">
            <input type="email" placeholder="Enter email" name="email">
            <span>
            </span>
        </div>
        <div class="input-container">
            <input type="password" placeholder="Enter password" name="password">
        </div>
        <div class="input-container">
            <input type="password" placeholder="Enter password again" name="repassword">
        </div>
        <p id="hidden"></p>
        <button type="submit" class="submit" onclick="otp()">
            Sign in
        </button>

        <p class="signup-link">
            already have account?
            <a href="#" onclick="showLogin()">login</a>
        </p>
    </form>

</div>
<div class="usercontainer " id="login">

    <form class="form">
        <p class="form-title">Sign in to your account</p>
        <div class="input-container">
            <input type="email" placeholder="Enter email" name="loginemail">
            <span>
            </span>
        </div>
        <div class="input-container">
            <input type="password" placeholder="Enter password" name="loginpassword">
        </div>
        <p id="hidden2"></p>

        <button type="submit" class="submit">
            Sign in
        </button>

        <p class="signup-link">
            No account?
            <a href="#" onclick="showSignup()">Sign up</a>
        </p>
    </form>

</div>
<div class="usercontainer " id="OTP">

    <form class="form2" id="otpForm">
        <div class="title">OTP</div>
        <div class="title">Verification Code</div>
        <p class="message">We have sent a verification code to your mobile number</p>
        <div class="inputs"> <input id="input1" type="text" maxlength="1"> <input id="input2" type="text" maxlength="1">
            <input id="input3" type="text" maxlength="1"> <input id="input4" type="text" maxlength="1">
        </div> <button class="action" type="submit">verify me</button>
    </form>

</div>
<script src="{{url_for('static',filename='js/loginpage.js')}}"></script>

{%endblock%}